body {
    background-color: rgb(71, 71, 184);
}
/* Убрать декорирование: подчеркивание ссылок,точки,кнопки */
.link {
    text-decoration: none;
    color: inherit;
    transition: color var(--animation);
  }
  .link:hover,
  .link:focus {
    color: rgb(119, 99, 212);
  }
  .logo {
    display: block;
    margin-right: 40px; 
  }
  
  .list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

.header {
    height: 100px;
    background-color: white;
}

.list.menu {
    display: inline-flex;
    align-items: center;
  }

.menu__item:not(:last-child) {
    margin-right: 40px; 
}

/* div контейнер */
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


/* header */
.header {
    //position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // padding-top: 32px;
    // padding-bottom: 32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    z-index: 100;
  }
  .header .container {
    display: flex;
    justify-content: center;
    //align-items: center;
  }
  //.header .logo {
  //  margin-right: 70px;
  //}









  
  .footer {
    height: 100px;
    background-color: white;
  }
 
